#.env
venv/

# db.sqlite3 ← این خط رو کامنت کردیم تا فایل دیتابیس وارد گیت بشه
# *.sqlite3 ← اگر چندتا فایل دیتابیس داری و می‌خوای نگه‌داریشون، اینم کامنت بشه

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django migrations
**/migrations/*.pyc
**/migrations/__pycache__/
# **/migrations/

# Django static and media
/static/
/media/
/staticfiles/

# VSCode
.vscode/

# PyCharm
.idea/

# Mac OS
.DS_Store

# pip tools
pip-wheel-metadata/

# Others
*.swp
